<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!--SCRIPTS-->
    <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body ng-controller="WelcomeController">
    <div class="container">
        <h1 class="lead">ANGULAR!</h1>
    </div>

    <div class="container">
        <input ng-model="note.name" type="text" placeholder="Enter your name">
        <button class="btn btn-info" ng-click="submitName()">Submit</button>
        <h1>{{note.name}}</h1>
    </div>

    <div class="container" ng-repeat="people in array">
        <p>{{people.name}}</p>
    </div>

    <div ng-repeat="person in people | orderBy: '-location' | limitTo: 3">
      <div class="well col-md-4">
        <div>
          <img ng-src="{{person.imgUrl}}">
        </div>
        <div>
          <p>{{person.name}}</p>
          <p>{{person.location}}</p>
          <p>{{person.position}}</p>
        </div>
      </div>
      <!-- <app-info info="person"></app-info> -->
    </div>

</body>
</html>
